block vars

include _includes/_head

body
  .l-site(data-template="#{template}")
    .l-nav
      .account
        .account-avatar
          img.account-img(src="https://unsplash.imgix.net/photo-1429095687696-3227bb0aa9a8?dpr=2&fit=crop&fm=jpg&h=50&q=75&w=50")
        .account-name Adrian Gyuricska

      nav.nav
        .nav-menu
          .nav-item
            a.nav-link(href="#") Dashboard
          .nav-item
            a.nav-link(href="#") Players
          .nav-item
            a.nav-link(href="#") Teams
          .nav-item
            a.nav-link(href="#") Profile

    .l-topbar
      h1.branding
        a.branding-link(href="/index.html") Foosleague



    .l-page
      .l-container
        block content

  include _includes/_scripts

</html>
