mixin item(title, url)
  .nav-item(class=active == title ? 'is-active' : '')
    a.nav-link(href=url)= title

block vars

include _includes/_head

body
  .l-site(data-template="#{template}")
    .l-topbar
      h1.branding
        a.branding-link(href="/index.html") Foosleague

      .account
        .account-avatar
          img.account-img(src="http://liftinteractive.com/media/images/adrian_Exqvi9i.focus-none.max-300x300.jpg")
        .account-name Adrian Gyuricska

    .l-header
      .l-container
        section.league
          .league-logo
            img.league-img(src="https://pbs.twimg.com/profile_images/431497486138499072/oVCFk5Qt.png")
          h1.league-name Lift Interactive

      nav.nav
        .l-container
          .nav-menu
            +item('Dashboard', '/')
            +item('Players', '/players.html')
            +item('Teams', '/teams.html')
            +item('Betting', '/betting.html')
            +item('Profile', '/profile.html')
            .nav-item.is-right
              a.nav-btn.btn.btn--small.btn--full(href="#") Start Game

    .l-container
      .l-page
        block content

  include _includes/_scripts

</html>
