extend _base

block vars
  - var model = 'dashboard'

block content
  .title
    h1.title-heading Dashboard

  .l-columns.l-columns--sideright
    .l-col
      .games
        - for (var i = 0; i < 30; ++i) {
          - var win = Math.floor(Math.random() * 2)+1;
          .game
            .game-team.game-team--home
              .game-score 10
              .team
                .team-player.player
                  .player-avatar
                    img.player-img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")
                  .player-name Adrian Gyuricska
                .team-player.player
                  .player-avatar
                    img.player-img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")
                  .player-name Adrian Gyuricska
            .game-team.game-team--away
              .game-score 8
              .team
                .team-player.player
                  .player-avatar
                    img.player-img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")
                  .player-name Adrian Gyuricska
                .team-player.player
                  .player-avatar
                    img.player-img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")
                  .player-name Adrian Gyuricska
        - }

    .l-col.l-col--side
      section.box
        .box-container
          h1.box-heading Current Streaks
          .box-content

