//-----------------------------------------------------------
// COLOR
//-----------------------------------------------------------
// Colors specific to this project

//
// Primary Brand Colors
// ------------------------------------------
$white             : #ffffff;
$black             : #333333;

$blue              : #5198FB;
  $blue-t-10       : mix($blue, $white, 10%);
  $blue-t-20       : mix($blue, $white, 20%);
  $blue-t-30       : mix($blue, $white, 30%);
  $blue-t-40       : mix($blue, $white, 40%);
  $blue-t-50       : mix($blue, $white, 50%);

$green             : #68B253;
  $green-t-20      : mix($green, $white, 20%);

$red                : #F66262;
  $red-t-20         : mix($red, $white, 20%);

$yellow            : #ffd03b;
  $yellow-t-20     : mix($yellow, $white, 20%);

$orange            : #F58220;
  $orange-t-20     : mix($orange, $white, 20%);
  $orange-d-10     : darken($orange, 10%);
  $orange-d-25     : darken($orange, 25%);

$tan                : #EFD9AF;
$gold               : #cca55c;
$silver             : #C9D1D3;
$bronze             : #7A6248;

$base-heading       : $black;
$base-type          : lighten($black, 20%);
$base-type-light    : lighten($black, 40%);

$c-btn-border   : darken($green, 10%);
$c-btn-bg       : $green;
$c-btn-color    : $white;
$c-btn-border--hover   : darken($green, 15%);
$c-btn-bg--hover       : darken($green, 5%);
$c-btn-color--hover    : $white;

$c-site-bg       : #F7F8FA;
$c-page-bg       : $white;

$c-nav-border    :  darken($white, 5%);
$c-navlink-color            : $base-type;
$c-navlink-color--hover     : $black;
$c-navlink-color--active    : $black;
$c-navitem-border--active   : $blue;

$c-topbar-bg       :  $white;
$c-topbar-border   :  darken($white, 15%);

$c-player-bg       :  $black;
$c-player-border   :  darken($black, 15%);

$c-header-bg       :  $white;
$c-header-border   :  darken($white, 15%);

$c-standing-bg            :  $white;
$c-standing-border        :  darken($white, 15%);
$c-standing-border--hover :  $blue;

$c-game-bg       :  $white;
$c-game-border   :  darken($white, 15%);
$c-game-border--hover   :  $blue;

$c-game-bg--win       :  lighten($green, 30%);
$c-game-border--win   :  $green;
$c-game-color--win    :  $green;

$c-game-bg--lose       :  lighten($red, 30%);
$c-game-border--lose   :  $red;
$c-game-color--lose    :  $red;