

$zindex-1  : 100;
$zindex-2  : 200;
$zindex-3  : 300;
$zindex-4  : 400;
$zindex-5  : 500;
$zindex-6  : 600;
$zindex-7  : 700;
$zindex-8  : 800;
$zindex-9  : 900;
$zindex-10 : 1000;

// z-index 1
$zindex-1--searchWrap : $zindex-1;
$zindex-1--categoryGridHeader : $zindex-1;

// z-index 2


// z-index 3


// z-index 4


// z-index 5


// z-index 6


// z-index 7


// z-index 8


// z-index 9


// z-index 10