{% load thumbnail %}

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/><!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
  <title>Foosleague</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
  <script src="//use.typekit.net/eae4tzw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  {% block head %}{% endblock %}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}ico/favicon-16x16.png">
  <link rel="manifest" href="{{ STATIC_URL }}ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff ">
  <meta name="msapplication-TileImage" content="{{ STATIC_URL }}ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff ">
</head>
<body>
  <div data-template="undefined" class="l-site">
    <div class="l-topbar">
      <div class="l-container l-container--full">
        <h1 class="branding"><a href="{% url "matches" %}" class="branding-link">Foosleague</a></h1>
        {% if request.user.is_authenticated %}
        <div class="account">
          <div class="account-avatar">
            {% if request.user.player.photo %}
              {% thumbnail request.user.player.photo "40x40" crop="center" as im %}
                <img src="{{ im.url }}"/>
              {% endthumbnail %}
            {% endif %}
          </div>
          <div class="account-name">{{ request.user.player }}</div>
        </div>
        {% endif %}
        <div class="nav-ham">
          <div class="ham js-openSide">
            <div class="ham-hamburger"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-header">
      <div class="l-container">
        <section class="league">
          <div class="league-logo"><img src="https://pbs.twimg.com/profile_images/431497486138499072/oVCFk5Qt.png" class="league-img"/></div>
          <h1 class="league-name">{{request.league}}</h1>
          <p class="league-season">{% if season %}{{season}}{% else %}Off Season{% endif %}</p>
        </section>
      </div>
      <nav class="nav">
        <div class="l-container">
          <div class="nav-menu">
            <div class="nav-item {% block nav-dashboard %}{% endblock %}"><a href="{% url "matches" %}" class="nav-link">Matches</a></div>
            <div class="nav-item {% block nav-players %}{% endblock %}"><a href="{% url "players" %}" class="nav-link">Players</a></div>
            <div class="nav-item {% block nav-teams %}{% endblock %}"><a href="{% url "teams" %}" class="nav-link">Teams</a></div>
            {% comment %}
              <div class="nav-item {% block nav-bookie %}{% endblock %}"><a href="{% url "bets" %}" class="nav-link">Bookie</a></div>
            {% endcomment %}
            <div class="nav-item is-right"><a href="{% url "match-create" %}" class="nav-btn btn btn--small btn--full">Start A Game</a></div>
          </div>
        </div>
      </nav>
    </div>
    <div class="l-container">
      <div class="l-page">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="l-footer">
      <p class="footer-text">Made with <span class="footer-heart">&#10084</span></p>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.is-loading').removeClass('is-loading');
      $('.js-openSide').on('click', function (e) {
          e.preventDefault();

        if ($(this).hasClass('is-active')) {
          $(this).removeClass('is-active');
          $('.nav').removeClass('is-active');
          $('body').removeClass('is-disabled');
        } else {
          $(this).addClass('is-active');
          $('.nav').addClass('is-active');
          $('body').addClass('is-disabled');
        }
      });
    });
  </script>
  {% block extra_script %}{% endblock %}
</body>
</html>