{% load thumbnail %}

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/><!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
  <title>Foosleague</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
  <script src="//use.typekit.net/eae4tzw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  {% block head %}{% endblock %}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}ico/favicon-16x16.png">
  <link rel="manifest" href="{{ STATIC_URL }}ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff ">
  <meta name="msapplication-TileImage" content="{{ STATIC_URL }}ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff ">
</head>
<body>
  <div data-template="undefined" class="l-site">
    <div class="l-content">
      <div class="l-topbar">
        <div class="l-container">
          <section class="league">
            <div class="league-logo"><img src="https://pbs.twimg.com/profile_images/431497486138499072/oVCFk5Qt.png" class="league-img"/></div>
            <h1 class="league-name">{{ request.league }}</h1>
            <p class="league-season">{% if season %}{{season}}{% else %}Off Season{% endif %}</p>
          </section>
        </div>
        <nav class="nav">
          <div class="l-container">
            <div class="nav-menu">
              <div class="nav-item {% block nav-dashboard %}{% endblock %}"><a href="{% url "matches" %}" class="nav-link">Matches</a></div>
              <div class="nav-item {% block nav-players %}{% endblock %}"><a href="{% url "players" %}" class="nav-link">Players</a></div>
              <div class="nav-item {% block nav-teams %}{% endblock %}"><a href="{% url "teams" %}" class="nav-link">Teams</a></div>
              {% comment %}
                <div class="nav-item {% block nav-bookie %}{% endblock %}"><a href="{% url "bets" %}" class="nav-link">Bookie</a></div>
              {% endcomment %}
              <div class="nav-item is-right"><a href="{% url "match-create" %}" class="nav-btn btn btn--small btn--full">Start A Game</a></div>
            </div>
          </div>
        </nav>
      </div>

      <div class="l-container">
        <div class="l-page">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="l-footer">
        <p class="footer-text">Made with <span class="footer-heart">&#10084</span></p>
      </div>
    </div>
    <div class="l-player">
      <div class="l-playerContainer">
        <h1 class="branding branding--player"><a href="{% url "matches" %}" class="branding-link">Foosleague</a></h1>

        <div class="nav-ham">
          <div class="ham js-openSide">
            <div class="ham-hamburger"></div>
          </div>
        </div>

        <div class="user">
          <div class="user-player">
            {% include "partials/player.html" with player=player player_class="player--larger" %}
          </div>
          <div class="user-stats">
            <h1 class="stat-heading">Rank</h1>

            <div class="stat-group is-active stat--light">
              <div class="stat">
                <div class="stat-number">{{ player.ts_expose|floatformat:2 }}</div>
                <div class="stat-title">Expose</div>
              </div>
              <div class="u-clear"></div>
              <div class="stat stat--small">
                <div class="stat-number">{{ player.ts_mu|floatformat:2 }}</div>
                <div class="stat-title">Skill</div>
              </div>
              <div class="stat stat--small">
                <div class="stat-number">{{ player.ts_sigma|floatformat:2 }}</div>
                <div class="stat-title">Sigma</div>
              </div>
            </div>
          </div>

          <div class="user-stats">
            <h1 class="stat-heading">Win/Loss</h1>
            <div class="stat-tabs">
              <a href="#" class="stat-tab js-tab" data-tab="#stats-winlos-7">7</a>
              <a href="#" class="stat-tab js-tab" data-tab="#stats-winlos-30">30</a>
              <a href="#" class="stat-tab js-tab is-active" data-tab="#stats-winlos-season">Season</a>
            </div>

            <div id="stats-winlos-7" class="stat-group js-tabContent stat--light">
              <div class="stat">
                <div class="stat-number">{{ stats.wins.7 }}</div>
                <div class="stat-title">Wins</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.losses.7 }}</div>
                <div class="stat-title">Losses</div>
              </div>
            </div>

            <div id="stats-winlos-30" class="stat-group js-tabContent stat--light">
              <div class="stat">
                <div class="stat-number">{{ stats.wins.30 }}</div>
                <div class="stat-title">Wins</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.losses.30 }}</div>
                <div class="stat-title">Losses</div>
              </div>
            </div>

            <div id="stats-winlos-season" class="stat-group js-tabContent stat--light is-active">
              <div class="stat">
                <div class="stat-number">{{ stats.wins.season }}</div>
                <div class="stat-title">Wins</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.losses.season }}</div>
                <div class="stat-title">Losses</div>
              </div>
            </div>
          </div>

          <div class="user-stats">
            <h1 class="stat-heading">Goal Diff</h1>
            <div class="stat-tabs">
              <a href="#" class="stat-tab js-tab" data-tab="#stats-goaldifferential-7">7</a>
              <a href="#" class="stat-tab js-tab" data-tab="#stats-goaldifferential-30">30</a>
              <a href="#" class="stat-tab js-tab is-active" data-tab="#stats-goaldifferential-season">Season</a>
            </div>

            <div id="stats-goaldifferential-7" class="stat-group js-tabContent stat--light">
              <div class="stat">
                <div class="stat-number">{{ stats.goal_differential.7.for }}</div>
                <div class="stat-title">For</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.goal_differential.7.against }}</div>
                <div class="stat-title">Against</div>
              </div>
            </div>

            <div id="stats-goaldifferential-30" class="stat-group js-tabContent stat--light">
              <div class="stat">
                <div class="stat-number">{{ stats.goal_differential.30.for }}</div>
                <div class="stat-title">For</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.goal_differential.30.against }}</div>
                <div class="stat-title">Against</div>
              </div>
            </div>

            <div id="stats-goaldifferential-season" class="stat-group js-tabContent stat--light is-active">
              <div class="stat">
                <div class="stat-number">{{ stats.goal_differential.season.for }}</div>
                <div class="stat-title">For</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.goal_differential.season.against }}</div>
                <div class="stat-title">Against</div>
              </div>
            </div>
          </div>
          <div class="user-stats">
            <h1 class="stat-heading">Color Stats</h1>
            <div class="stat-tabs">
              <a href="#" class="stat-tab js-tab is-active" data-tab="#stats-colorstats-red">red</a>
              <a href="#" class="stat-tab js-tab" data-tab="#stats-colorstats-black " >black</a>
            </div>

            <div id="stats-colorstats-red" class="stat-group js-tabContent stat--light is-active">
              <div class="stat">
                <div class="stat-number">{{ stats.color_stats.red.favoured }}</div>
                <div class="stat-title">Of Games</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.color_stats.red.winning_percentage }}</div>
                <div class="stat-title">Games Won</div>
              </div>
            </div>

            <div id="stats-colorstats-black" class="stat-group js-tabContent stat--light">
              <div class="stat">
                <div class="stat-number">{{ stats.color_stats.black.favoured }}</div>
                <div class="stat-title">Of Games</div>
              </div>
              <div class="stat">
                <div class="stat-number">{{ stats.color_stats.black.winning_percentage }}</div>
                <div class="stat-title">Games Won</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.is-loading').removeClass('is-loading');
      $('.js-tab').on('click', function (e) {
        e.preventDefault();
        var tab = $(this).data('tab');
        $(this).addClass('is-active').siblings().removeClass('is-active');
        $(tab).addClass('is-active').siblings('.js-tabContent').removeClass('is-active');
      });
      $('.js-openSide').on('click', function (e) {
        e.preventDefault();

        if ($(this).hasClass('is-active')) {
          $(this).removeClass('is-active');
          $('.nav').removeClass('is-active');
          $('body').removeClass('is-disabled');
        } else {
          $(this).addClass('is-active');
          $('.nav').addClass('is-active');
          $('body').addClass('is-disabled');
        }
      });
    });
  </script>
  {% block extra_script %}{% endblock %}
</body>
</html>