
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
  <title>Foosleague</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
  <script src="//use.typekit.net/eae4tzw.js"></script>
  <script>
    try{Typekit.load();}catch(e){}
  </script>
  {% block head %}{% endblock %}
</head>
<body class="l-tease">
  <div class="l-teaseContent">
    <h1 class="branding branding--tease"><a href="/tease/" class="branding-link">Foosleague</a></h1>
  </div>
  <a href="{% url "login" %}" class="btn btn--login">Login</a>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r55/three.min.js"></script>
  <script>
    var camera, scene, renderer;
    var geometry, material, mesh;

    init();
    animate();

    function init() {
      camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 1000);
      camera.position.z = 500;

      scene = new THREE.Scene();

      geometry = new THREE.IcosahedronGeometry(200, 2);
      material = new THREE.MeshBasicMaterial({
        color: 0xBA5765,
        wireframe: true,
        wireframeLinewidth: 5
      });

      mesh = new THREE.Mesh(geometry, material);
      scene.add(mesh);

      renderer = new THREE.CanvasRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);

      document.body.appendChild(renderer.domElement);
    }

    function animate() {
      requestAnimationFrame(animate);

      mesh.rotation.y = Date.now() * 0.0001;

      renderer.render(scene, camera);
    }
  </script>
</body>
</html>