//
// LAYOUTS / VIEWS / TEMPLATES
//

$site-width: 1800px;
$nav-width: 200px;
$topbar-height: 160px;
$topbar-width: 240px;
$player-width: 240px;

body {
  background: $c-site-bg;
}

.l-tease {
  text-align: center;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.l-teaseContent {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}

.l-site {
  margin: 0 auto;
  max-width: $site-width;
  position: relative;
  z-index: 1;
  background: $c-site-bg;
}

.l-heading {
  z-index: 10;
  margin: 0;
  padding: 21px 0;
  display: block;
  text-align: center;
  background: $c-heading-bg;
  border-bottom: 1px solid $c-heading-border;
  box-shadow: 0 1px rgba($c-heading-border,0.15);
}

.l-page {
  padding: 30px 0;
  position: relative;
}

.l-topbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $topbar-width;
  display: block;
  background: $c-topbar-bg;
  z-index: 10;
  @include transition(0.35s);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.l-header {
  margin: $topbar-height 0 30px;
  display: block;
  background: $c-header-bg;
  border-bottom: 1px solid $c-header-border;
}

.l-container {
  @include row();
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1100px;
}

.l-container--full {
  max-width: 100%;
}

.l-content {
  position: relative;
  z-index: 10;
  margin-left: $topbar-width;
  margin-right: $player-width;
  @include transition(0.35s);
  background: $c-site-bg;
}

.l-player {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-left: 1px solid $c-player-border;
  background: $c-player-bg;
  width: $player-width;
  z-index: 5;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  @include transition(0.35s);
}

.l-playerContainer {
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.l-columns {
  @include fill-parent();
  @include row();
}

.l-columns--thirds {
  .l-col {
    @include span-columns(4);
  }
}

.l-columns--split {
  .l-col {
    @include span-columns(6);
  }
}

.l-col {
  position: relative;
  vertical-align: top;
}

.l-columns--centered {
  .l-col {
    @include span-columns(8);
    @include shift(2);
  }
}

.l-columns--centeredSmall {
  .l-col {
    @include span-columns(6);
    @include shift(3);
  }
}

.l-columns--score {
  .l-col {
    @include span-columns(4);
    @include shift(4);
  }
}

.l-columns--sideright {
  .l-col {
    @include span-columns(8);
  }

  .l-col--side {
    @include span-columns(4);
  }
}

.l-columns--sideleft {
  .l-col {
    @include span-columns(8);
  }

  .l-col--side {
    @include span-columns(4);
  }
}

.l-footer {
  margin-top: 30px;
  text-align: center;
}

@include media($tablet) {
  .l-site {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is-navactive {
      .l-content {
        left: 0;
      }
    }

    &.is-playeractive {
      .l-content {
        @include transform(translateX(-$player-width));
      }
    }
  }

  .l-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $topbar-width;
    margin: 0;
    z-index: 10;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .l-heading {
    left: $topbar-width+30px;
    right: 30px;
  }

  .l-columns--centered {
    .l-col {
      @include span-columns(6);
      @include shift(1);
    }
  }

  .l-columns--centeredSmall {
    .l-col {
      @include span-columns(5);
      @include shift(1.5);
    }
  }

  .l-columns--score {
    .l-col {
      @include span-columns(4);
      @include shift(2);
    }
  }
}

@include media($mobile) {
  .l-site {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is-navactive {
      .l-content {
        @include transform(translateX($topbar-width));
      }

      .l-topbar {
        z-index: 10;
      }

      .l-player {
        z-index: 5;
      }
    }

    &.is-playeractive {
      .l-content {
        @include transform(translateX(-$player-width));
      }

      .l-topbar {
        z-index: 5;
      }

      .l-player {
        z-index: 10;
      }
    }
  }

  .l-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .l-heading {
    left: 30px;
    right: 30px;
  }

  .l-col {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .l-columns--centeredSmall,
  .l-columns--centered {
    .l-col {
      @include span-columns(4);
      @include shift(0);
    }
  }

  .l-columns--thirds {
    .l-col {
      @include span-columns(4);
    }
  }

  .l-columns--split {
    .l-col {
      @include span-columns(4);
    }
  }

  .l-columns--sideright {
    .l-col {
      @include span-columns(4);
    }

    .l-col--side {
      @include span-columns(4);
    }
  }

  .l-columns--sideleft {
    .l-col {
      @include span-columns(4);
    }

    .l-col--side {
      @include span-columns(4);
    }
  }

  .l-columns--score {
    .l-col {
      @include span-columns(2);
      @include shift(1);
    }
  }
}
