//
// LAYOUTS / VIEWS / TEMPLATES
//

$site-width: 1800px;
$nav-width: 200px;
$topbar-height: 50px;

body {
  background: $c-site-bg;
}

.l-site {
  margin: 0 auto;
  max-width: $site-width;
  position: relative;
  z-index: 1;
  background: $c-site-bg;
}

.l-page {
  position: relative;
}

.l-topbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  height: $topbar-height;
  display: block;
  background: $c-topbar-bg;
  border-bottom: 1px solid $c-topbar-border;
  z-index: 10;
}

.l-header {
  margin: $topbar-height 0 30px;
  display: block;
  background: $c-header-bg;
  border-bottom: 1px solid $c-header-border;
}

.l-container {
  @include row();
  margin: 0 auto;
  padding: 0 3em;
  max-width: 1100px;
}

.l-columns {
  @include fill-parent();
  @include row();
}

.l-columns--thirds {
  .l-col {
    @include span-columns(4);
  }
}

.l-columns--split {
  .l-col {
    @include span-columns(6);
  }
}

.l-col {
  position: relative;
  vertical-align: top;
}


.l-columns--centered {
  .l-col {
    @include span-columns(6);
    @include shift(3);
  }
}

.l-columns--sideright {
  .l-col {
    @include span-columns(8);
  }

  .l-col--side {
    @include span-columns(4);
  }
}

.l-columns--sideleft {
  .l-col {
    @include span-columns(8);
    @include shift(4);
  }

  .l-col--side {
    @include span-columns(4);
    @include shift(-12);
  }
}


@include media($tablet) {
  .l-page {
    padding: 2em 0;
  }

  .l-container {
    padding: 0 2em;
  }
}

@include media($mobile) {
  .l-topbar {
    left: 0;
  }

  .l-nav {
    z-index: 5;
  }

  .l-container {
    padding: 0 1em;
  }

  .l-col {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .l-columns--thirds {
    .l-col {
      @include span-columns(4);
    }
  }

  .l-columns--split {
    .l-col {
      @include span-columns(4);
    }
  }
}
