{% extends "base.html" %}

{% block nav-teams %}is-active{% endblock %}
{% load thumbnail %}

{% block content %}

  <div class="l-columns l-columns--sideleft">
    <div class="l-col l-col--side">
      <section class="profile profile--details">
        <div class="profile-team">
          <div class="team team--profile">
            {% if team.logo %}
              <div class="team-logo">
                {% thumbnail team.logo "120x120" crop="center" as im %}
                  <img src="{{ MEDIA_URL }}{{ im }}" class="team-img"/>
                {% endthumbnail %}
              </div>
            {% endif %}
            <h1 class="team-name">{{ team }}</h1>
            {% for player in team.players.all %}
              {% include "partials/player.html" with player=player player_class="team-player player--large" %}
            {% endfor %}
          </div>
        </div>

        <div class="profile-stats">
          <h1 class="stat-heading">Win/Loss</h1>

          <div class="stat-group js-tabContent is-active">
            <div class="stat">
              <div class="stat-number">{% if wins %}{{ wins }}{% else %}0{% endif %}</div>
              <div class="stat-title">Wins</div>
            </div>
            <div class="stat">
              <div class="stat-number">{% if losses %}{{ losses }}{% else %}0{% endif %}</div>
              <div class="stat-title">Losses</div>
            </div>
          </div>
        </div>

        <div class="profile-stats">
          <h1 class="stat-heading">Streaks</h1>

          <div class="stat-group is-active">
            <div class="stat">
              {% if object.win_streak > 0 %}
                <div class="stat-number">{{ object.win_streak }} Game</div>
                <div class="stat-title">Wining Streak</div>
              {% else %}
                <div class="stat-number">{{ object.losing_streak }} Game</div>
                <div class="stat-title">Losing Streak</div>
              {% endif %}
            </div>
            <div class="u-clear"></div>
            <div class="stat stat--small">
              {% if object.win_streak > 0 %}
                <div class="stat-title">Not Lost Since</div>
                <div class="stat-number">{{ object.not_lost_since|date:"D d M Y" }}</div>
              {% else %}
                <div class="stat-title">Not Won Since</div>
                <div class="stat-number">{{ object.not_won_since|date:"D d M Y" }}</div>
              {% endif %}
            </div>
          </div>
          {% if object.best_win_streak > 0 %}
            <hr class="hr--dark"/>
            <div class="stat-group is-active">
              <div class="stat">
                  <div class="stat-title">Best Win Streak</div>
                  <div class="stat-number">{{ object.best_win_streak }} Games</div>
              </div>
              {% if object.best_win_streak_date %}
                <div class="u-clear"></div>
                <div class="stat stat--small">
                    <div class="stat-title">Best Win Streak Date</div>
                    <div class="stat-number">{{ object.best_win_streak_date|date:"D d M Y" }}</div>
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% if object.worst_losing_streak > 0 %}
            <hr class="hr--dark"/>
            <div class="stat-group is-active">
              <div class="stat">
                  <div class="stat-title">Worst Losing Streak</div>
                  <div class="stat-number">{{ object.worst_losing_streak }} Games</div>
              </div>
              <div class="u-clear"></div>
              <div class="stat stat--small">
                  <div class="stat-title">Worst Losing Streak Date</div>
                  <div class="stat-number">{{ object.worst_losing_streak_date|date:"D d M Y" }}</div>
              </div>
            </div>
          {% endif %}
        </div>
      </section>
    </div>
    <div class="l-col">
      <div class="games is-loading">
        {% for match in matches %}
          {% include "partials/match.html" with match=match team=team %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}