{% extends "base.html" %}
{% load thumbnail %}

{% block nav-teams %}is-active{% endblock %}

{% block content %}
  <div class="l-columns l-columns--centeredSmall">
    <div class="l-col">
      <div class="standings is-loading">
        {% for team in object_list %}
          <a href="{{team.get_absolute_url}}" class="standing">
            {% comment %}
            <div class="standing-count standing-count--{{ forloop.counter }}">
              <span>{{ forloop.counter }}</span>
            </div>
            {% endcomment %}
            <div class="standing-team">
              <div class="team team--inline">
                {% if team.streak > 1 %}
                  <p class="team-streak">
                    <span>Current Streak</span>
                    {{ team.streak }}
                  </p>
                {% endif %}
                <h1 class="team-name">{{ team }}</h1>
                <div class="team-players">
                  {% for player in team.players.all %}
                    <div class="team-player player player--medium">
                      <div class="player-avatar">
                        {% if player.photo %}
                          {% thumbnail player.photo "80x80" crop="center" as im %}
                            <img src="{{ im.url }}" class="player-img"/>
                          {% endthumbnail %}
                        {% endif %}
                      </div>
                      <div class="player-name">{{ player.nickname }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}