{% extends "base.html" %}

{% block nav-teams %}is-active{% endblock %}

{% block content %}
  <div class="l-columns l-columns--centered">
    <div class="l-col">
      <div class="standings">
        {% for team in object_list %}
          <a href="{{team.get_absolute_url}}" class="standing">
            {% comment %}
            <div class="standing-count standing-count--{{ forloop.counter }}">
              <span>{{ forloop.counter }}</span>
            </div>
            {% endcomment %}
            <div class="standing-team">
              <div class="team team--inline">
                <h1 class="team-name">{{ team }}</h1>
                <div class="team-players">
                  {% for player in team.players.all %}
                    <div class="team-player player">
                      <div class="player-avatar"><img src="{{ player.photo.url }}" class="player-img"/></div>
                      <div class="player-name">{{ player.nickname }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}