//
// MODULES
//
@import "modules/_auth";
@import "modules/_account";
@import "modules/_branding";
@import "modules/_btn";
@import "modules/_game";
@import "modules/_league";
@import "modules/_nav";
@import "modules/_player";
@import "modules/_profile";
@import "modules/_stats";
@import "modules/_team";
@import "modules/_form";
@import "modules/_footer";
@import "modules/_newgame";
@import "modules/_error";
@import "modules/_standing";

.section {
  margin-bottom: 30px;
}

.section-titlebar {
  position: relative;
  @include clearfix;
}

.section-heading {
  margin: 0;
  padding: 0 0 25px;
  display: inline-block;
  @extend .ms-3;
  @extend .ts-uppercase;
  border-bottom: 2px solid $blue;
}

.section-content {
  padding: $gutter 0;
}

.section-actions {
  position: relative;
  text-align: right;
  @include clearfix;
  @include border-bottom-radius(5px);
}

.section--small {
  .section-heading {
    @include font(20, 600, 1);
  }
}

.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs {
  margin: 0 0 20px;
}

.tab {
  margin-right: 5px;
  padding: 7px 15px;
  display: inline-block;
  color: $c-navlink-color;
  @include font(16, 400, 1);
  border-radius: 100px;

  &:hover {
    color: $c-navlink-color--hover;
  }

  &.is-active {
    background: $c-navitem-border--active;
    font-weight: 600;
    color: $white;
  }
}