//
// MODULES
//
@import "modules/_btn";

.branding {
  display: inline-block;
  float: left;
}

.branding-link {
  margin: 0;
  padding: 18px 30px;
  display: block;
  color: $black;
  @include font(24, 600, 1, $base-font-alt);
  @extend .ts-alt;
  @extend .ts-uppercase;
  text-align: center;
}

.league {
  padding: 20px 0;
  @include clearfix;
}

.league-logo {
  float: left;
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 3px;
  margin-right: 30px;
}

.league-img {
  width: 100%;
  border-radius: 3px;
}

.league-name {
  margin: 0;
  padding: 30px 0;
  display: inline-block;
  @extend .ms-6;
  @extend .ts-uppercase;
}

.nav {
  margin: 10px 0;
}

.nav-menu {
  margin: 0;
  padding: 0;
  border-left: 1px solid $color-nav-border;
  @include clearfix;
}

.nav-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  border-right: 1px solid $color-nav-border;

   &.is-right {
    border-right: 0;
    float: right;
  }
}

.nav-link {
  padding: 5px 20px;
  display: block;
  color: $black;
}

.title {
  padding: 0 0 30px;
}

.title-heading {
  margin: 0;
  padding: 0;
  display: inline-block;
  @extend .ms-5;
  @extend .ts-uppercase;
}

.account {
  margin-right: 30px;
  padding: 17px 0;
  float: right;
  @include clearfix;
}

.account-avatar {
  width: 28px;
  height: 28px;
  display: block;
  float: left;
  border-radius: 3px;
  margin-right: 10px;
}

.account-img {
  width: 100%;
  border-radius: 3px;
}

.account-name {
  margin: 0;
  padding: 6px 0;
  display: inline-block;
  color: $black;
  @extend .ms-n1;
  @extend .ts-alt;
  @extend .ts-uppercase;
}

.games {
  padding: 5px;
  border: 1px solid $color-game-border;
  background: $color-game-bg;
}

.game {
  margin-bottom: 5px;
  border: 1px solid $color-game-border;
  background: $color-game-bg;
  @include row();
}

.game-team {
  @include span-columns(6);
}

.game-team--home {
  .game-score {
    margin-left: 20px;
    float: right;
  }
}

.game-team--away {
  .game-score {
    margin-right: 20px;
    float: left;
  }

  .team {
    float: right;
  }

  .player-avatar {
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }
}

.game-score {
  border-radius: 3px;
  display: inline-block;
  margin: 15px 0;
  padding: 10px 2px;
  width: 30px;
  text-align: center;
  border: 1px solid $color-game-border;
  @extend .ms-1;
  @extend .ts-alt;
  @extend .ts-uppercase;
}

.team {
  padding: 10px;
}

.player {
  display: block;
}

.player-avatar {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  border-radius: 3px;
  margin-right: 10px;
}

.player-img {
  width: 100%;
  border-radius: 3px;
}

.player-name {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: $black;
  @include font(16, 400, 1, $base-font-alt);
  @extend .ts-alt;
  @extend .ts-uppercase;
}