.branding {
  display: inline-block;
}

.branding--player {
  margin: 0 0 30px;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgba($white, 0.2);
}

.branding--auth,
.branding--tease {
  float: none;
}

.branding--tease {
  .branding-link {
    @include font(52, 600, 1, $base-font-alt);
    text-shadow: 0 1px $white, 1px 1px $white, 1px 0 $white, 0 -1px $white, -1px -1px $white, -1px 0 $white;
  }
}

.branding-link {
  margin: 0;
  padding: 30px 15px;
  display: block;
  color: $white;
  @include font(24, 600, 1, $base-font-alt);
  @extend .ts-alt;
  @extend .ts-uppercase;
  text-align: center;

  &:hover {
    color: $white;
  }
}