.branding {
  display: inline-block;
}

.branding--player {
  margin: 0 -30px 10px;
  display: block;
  text-align: center;
  background: $green;

  .branding-link {
    padding: 20px 15px;
    color: $white;
    text-shadow: 0 1px 1px rgba($black, 0.1);

    &:hover {
      color: $white;
    }
  }
}

.branding--auth,
.branding--tease {
  float: none;
}

.branding--tease {
  .branding-link {
    @include font(52, 600, 1, $base-font-alt);
    text-shadow: 0 1px $white, 1px 1px $white, 1px 0 $white, 0 -1px $white, -1px -1px $white, -1px 0 $white;
  }
}

.branding-link {
  margin: 0;
  padding: 30px 15px;
  display: block;
  color: $green;
  @include font(28, 800, 1, $base-font-alt);
  @extend .ts-alt;
  @extend .ts-uppercase;
  text-align: center;

  &:hover {
    color: darken($green, 10%);
  }
}

@include media($tablet) {
  .branding-link {
    padding: 15px 15px;
  }
}

@include media($mobile) {
  .branding-link {
    padding: 15px 15px;
  }
}