.btn {
  display: inline-block;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid $c-btn-border;
  color: $c-btn-color;
  background: $c-btn-bg;
  @include font(20, 500, 1);
  text-decoration: none;
  border-radius: 40px;
  @include transition(0.35s);

  &:hover {
    border: 1px solid $c-btn-border--hover;
    color: $c-btn-color--hover;
    background: $c-btn-bg--hover;
  }
}

.btn--small {
  padding: 8px 18px;
  @include font(15, 600, 1);
}

.btn--full {
  display: block;
}