.league {
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid #4F575D;
  @include clearfix;
}

.league-logo {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 3px;
}

.league-img {
  width: 100%;
  border-radius: 3px;
}

.league-name {
  margin: 10px 0 0;
  padding: 0;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: $white;
}

.league-season {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #C0C3C5;
  @extend .ts-uppercase;
}

@include media($mobile) {
  .league-logo {
    width: 64px;
    height: 64px;
  }
}