.nav {
  margin: 0;
  padding: 20px 0;
}

.nav-menu {
  margin: 0 -10px;
  padding: 0;
  @include clearfix;
}

.nav-item {
  display: block;
  margin: 0 10px;
  padding: 0;

  &.is-active {
    .nav-link {
      font-weight: 600;
      color: $c-navlink-color--active;
    }
  }
}

.nav-responsive {
  display: none;
}

.nav-link {
  padding: 15px 0;
  display: block;
  color: $c-navlink-color;
  @include font(16, 400, 1);
  text-transform: uppercase;

  &:hover {
    color: $c-navlink-color--hover;
  }
}

.nav-btn {
  @include font(18, 600, 1);
  margin: 10px 0;
  padding: 15px 0;
  text-transform: uppercase;
}


.nav-ham {
  position: relative;
  top: 5px;
  width: 24px;
  height: 24px;
  display: block;
  @include transition(0.35s);
}

.nav-ham--dots {
  .ham-hamburger {
    background: $black;
    width: 4px;

    &:before,
    &:after {
      width: 4px;
      height: 4px;
      background: $black;
    }

    &:before {
      top: -8px;
      left: 0;
      width: 4px;
    }

    &:after {
      top: 8px;
      width: 4px;
      left: 0;
    }

    &.is-active {
      .ham-hamburger {
        background: none;
      }
      .ham-hamburger:before,
      .ham-hamburger:after {
        background: $black;
        top: 0;
        width: 24px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      .ham-hamburger:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      .ham-hamburger:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
      }
    }
  }

  .ham {
    &:hover {
      .ham-hamburger:before,
      .ham-hamburger:after {
        width: 4px;
      }
    }

    &.is-active {
      .ham-hamburger:before,
      .ham-hamburger:after {
        background: $black;
      }
    }
  }
}

.ham {
  position: relative;
  margin: 7px 0 0;
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 10;
  @include selection(false);

  &:hover {
    .ham-hamburger:before,
    .ham-hamburger:after {
      width: 24px;
    }
  }

  &.is-active {
    .ham-hamburger {
      background: none;
    }
    .ham-hamburger:before,
    .ham-hamburger:after {
      background: $black;
      top: 0;
      width: 24px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    .ham-hamburger:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    .ham-hamburger:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
}

.ham-hamburger {
  position: relative;
  width: 24px;
  height: 4px;
  margin: 10px 0;
  background: $black;
  border-radius: 4px;
  @include transition(0.25s);

  &:before,
  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: $black;
    position: absolute;
    border-radius: 4px;
    @include transition(0.25s);
  }
  &:before {
    top: -8px;
    left: 0;
    width: 22px;
  }

  &:after {
    top: 8px;
    width: 16px;
    left: 0;
  }
}