.newgame {
  margin: 0 15%;
  padding: 20px;
  border: 1px solid $c-standing-border;
  background: $c-standing-bg;
}

.newgame-team--red {
  padding-right: 10px;
}

.newgame-team--black {
  padding-left: 10px;
}

.newgame-heading {
  @extend .ms-2;
}

.newgame-action {
  margin: 10px 0 -20px;
  padding: 15px 0;
  border-top: 1px solid lighten($c-standing-border, 5%);
}

@include media($mobile) {
  .newgame {
    margin: 0;
  }
}