.player {
  display: block;
}

.player-mobilemenu {
  position: absolute;
  top: 0;
  left: 25px;
  padding: 8px 10px;
  cursor: pointer;
  display: none;
}

.player-mobilenav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 10px;
  cursor: pointer;
  display: none;
}

.player-avatar {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  border-radius: 100px;
  margin: 0 10px 0 0;
  overflow: hidden;
}

.player-img {
  width: 100%;
  border-radius: 3px;
}

.player-name {
  margin: 0;
  padding: 0;
  display: inline-block;
  @include font(16, 400, 1, $base-font-alt);
  @extend .ts-alt;
  @extend .ts-uppercase;

  strong {
    font-weight: 400;
    color: $black;
  }
}

.player--medium {
  .player-avatar {
    width: 32px;
    height: 32px;
  }

  .player-name {
    padding: 8px 0;
    @include font(20, 400, 1, $base-font-alt);
  }
}

.player--large {
  .player-avatar {
    width: 40px;
    height: 40px;
  }

  .player-name {
    padding: 8px 0;
    @include font(24, 400, 1, $base-font-alt);
  }
}

.player--larger {
  .player-avatar {
    width: 50px;
    height: 50px;
  }

  .player-name {
    padding: 12px 0;
    @include font(28, 400, 1, $base-font-alt);
  }
}

.player--largest {
  .player-avatar {
    width: 80px;
    height: 80px;
  }

  .player-name {
    padding: 12px 0;
    @include font(36, 600, 1, $base-font-alt);
  }
}

.player--highlight {
  .player-name {
    color: $black;
  }
}

.player--stacked {
  text-align: center;

  .player-avatar {
    float: none;
    display: inline-block;
    margin: 0;
  }

  .player-name {
    padding: 0;
    display: block;
  }
}

@include media($tablet) {
  .player-mobilenav {
    display: block;
  }
}

@include media($mobile) {
  .player-mobilemenu,
  .player-mobilenav {
    display: block;
  }
}