.profile {
  text-align: left;
}

.profile-player {
  margin-bottom: 30px;

  .player-name {
    color: $black;
  }
}

.profile-stats {
  margin-bottom: 30px;
}

.profile--light {
  .player-name {
    color: $white;
  }

  .stat-heading {
    color: $white;
  }

  .stat-tab {
    color: $white;
  }
}

.profile--details {
  padding-right: 30px;
}