.stat {
  display: inline-block;
  text-align: center;
  margin: 5px 0;
  padding: 0 10px;
}

.stat-group {
  display: none;
  opacity: 0;
  @include transition(0.25s);
  @include transform(translateY(20px));

  &.is-active {
    display: block;
    opacity: 1;
    @include transform(translateY(0));
  }
}

.stat-tabs {
  float: right;
  margin-top: -8px;
}

.stat-tab {
  @include font(11, 400, 1);
  display: inline-block;
  color: $black;
  border-radius: 10px;
  padding: 2px 6px;

  &:hover {
    color: $green;
    background: rgba($white, 0.2);
  }

  &.is-active {
    color: $white;
    background: $green;
  }
}

.stat-heading {
  float: left;
  text-transform: uppercase;
  opacity: 0.6;
}

.stat-group {
  text-align: center;
  clear: both;
}

.stat-number {
  margin: 0;
  padding: 0;
  color: $black;
  @include font(54, 600, 1, $base-font-heading);
  @extend .ts-uppercase;
  @extend .ts-alt;
}

.stat-title {
  margin: 0;
  padding: 0;
  @include font(16, 600, 1, $base-font-heading);
  @extend .ts-alt;
  @extend .ts-uppercase;
  @extend .ts-light;
  font-weight: 400;
}

.stat--small {
  .stat-number {
    @include font(24, 600, 1, $base-font-heading);
  }

  .stat-title {
    @include font(16, 600, 1, $base-font-heading);
    font-weight: 400;
  }
}

.stat--light {
  .stat-number {
    color: $white;
  }

  .stat-title {
    color: $white;
    opacity: 0.6;
  }
}