.team {
  display: block;
  padding: 10px;
}

.team-name {
  margin: 0 0 10px;
  padding: 0 0 5px;
  display: block;
  color: $black;
  @extend .ms-n1;
  @extend .ts-alt;
  @extend .ts-light;
  @extend .ts-uppercase;
  border-bottom: 1px solid $c-game-border;
}

.team-streak {
  float: right;
  margin: 0;
  padding: 0;
  display: inline-block;
  @extend .ms-n1;
  @extend .ts-alt;
  @extend .ts-light;
  @extend .ts-uppercase;

  span {
    font-weight: 400;
  }
}

.team-name--winner {
  color: $green;
}

.team-players {
  @include row();
}

.team--inline {
  .team-player {
    display: inline-block;
    @include span-columns(6);
  }
}

.team--medium {
  padding: 0;

  .team-name {
    padding-bottom: 10px;
    @extend .ms-1;
  }
}

.team--large {
  padding: 0;

  .team-name {
    padding-bottom: 15px;
    @extend .ms-3;
  }
}