/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.u-textcenter {
  text-align: center; }

.u-textleft {
  text-align: left; }

.u-textright {
  text-align: right; }

body {
  color: #666666;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.0625rem;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    body {
      font-weight: 400;
      font-size: 1rem;
      font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.6em; } }
  @media screen and (max-width: 39.99em)  {
    body {
      font-weight: 400;
      font-size: 0.9375rem;
      font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.6em; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 1.0625rem;
  font-family: 'din-condensed-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: #333333;
  margin: 1.5em 0 0.5em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      font-size: 1rem;
      font-family: 'din-condensed-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.1; } }
  @media screen and (max-width: 39.99em)  {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      font-size: 0.9375rem;
      font-family: 'din-condensed-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.1; } }

h1 {
  margin-top: 0; }

p {
  margin-bottom: 1.25em; }

a {
  color: #5198FB;
  text-decoration: none; }
  a:hover {
    color: #a8cbfd; }

.ms-n0 {
  font-size: 1.0625em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n0 {
      font-size: 1em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n0 {
      font-size: 0.9375em; } }

.ms-n1, .account-name {
  font-size: 0.94444em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n1, .account-name {
      font-size: 0.88889em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n1, .account-name {
      font-size: 0.83333em; } }

.ms-n2 {
  font-size: 0.83951em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n2 {
      font-size: 0.79012em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n2 {
      font-size: 0.74074em; } }

.ms-n3 {
  font-size: 0.74623em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n3 {
      font-size: 0.70233em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n3 {
      font-size: 0.65844em; } }

.ms-n4 {
  font-size: 0.66331em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n4 {
      font-size: 0.6243em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n4 {
      font-size: 0.58528em; } }

.ms-n5 {
  font-size: 0.58961em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n5 {
      font-size: 0.55493em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n5 {
      font-size: 0.52025em; } }

.ms-n6 {
  font-size: 0.5241em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n6 {
      font-size: 0.49327em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n6 {
      font-size: 0.46244em; } }

.ms-n7 {
  font-size: 0.46587em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n7 {
      font-size: 0.43846em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n7 {
      font-size: 0.41106em; } }

.ms-n8 {
  font-size: 0.4141em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n8 {
      font-size: 0.38974em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n8 {
      font-size: 0.36539em; } }

.ms-n9 {
  font-size: 0.36809em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n9 {
      font-size: 0.34644em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n9 {
      font-size: 0.32479em; } }

.ms-n10 {
  font-size: 0.32719em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n10 {
      font-size: 0.30795em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n10 {
      font-size: 0.2887em; } }

.ms-n11 {
  font-size: 0.29084em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n11 {
      font-size: 0.27373em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n11 {
      font-size: 0.25662em; } }

.ms-n12 {
  font-size: 0.25852em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n12 {
      font-size: 0.24332em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n12 {
      font-size: 0.22811em; } }

.ms-n13 {
  font-size: 0.2298em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n13 {
      font-size: 0.21628em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n13 {
      font-size: 0.20276em; } }

.ms-n14 {
  font-size: 0.20426em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n14 {
      font-size: 0.19225em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n14 {
      font-size: 0.18023em; } }

.ms-n15 {
  font-size: 0.18157em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n15 {
      font-size: 0.17089em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n15 {
      font-size: 0.16021em; } }

.ms-n16 {
  font-size: 0.16139em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-n16 {
      font-size: 0.1519em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-n16 {
      font-size: 0.14241em; } }

.ms-0 {
  font-size: 1.0625em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-0 {
      font-size: 1em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-0 {
      font-size: 0.9375em; } }

.ms-1, .richtext > h4, .richtext > h5, .richtext blockquote p {
  font-size: 1.19531em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-1, .richtext > h4, .richtext > h5, .richtext blockquote p {
      font-size: 1.125em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-1, .richtext > h4, .richtext > h5, .richtext blockquote p {
      font-size: 1.05469em; } }

.ms-2, .richtext > h3 {
  font-size: 1.34473em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-2, .richtext > h3 {
      font-size: 1.26562em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-2, .richtext > h3 {
      font-size: 1.18652em; } }

.ms-3, .richtext > h2 {
  font-size: 1.51282em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-3, .richtext > h2 {
      font-size: 1.42383em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-3, .richtext > h2 {
      font-size: 1.33484em; } }

.ms-4, .richtext > h1 {
  font-size: 1.70192em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-4, .richtext > h1 {
      font-size: 1.60181em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-4, .richtext > h1 {
      font-size: 1.50169em; } }

.ms-5, .title-heading {
  font-size: 1.91466em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-5, .title-heading {
      font-size: 1.80203em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-5, .title-heading {
      font-size: 1.68941em; } }

.ms-6, .league-name {
  font-size: 2.15399em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-6, .league-name {
      font-size: 2.02729em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-6, .league-name {
      font-size: 1.90058em; } }

.ms-7 {
  font-size: 2.42324em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-7 {
      font-size: 2.2807em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-7 {
      font-size: 2.13815em; } }

.ms-8 {
  font-size: 2.72615em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-8 {
      font-size: 2.56578em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-8 {
      font-size: 2.40542em; } }

.ms-9 {
  font-size: 3.06691em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-9 {
      font-size: 2.88651em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-9 {
      font-size: 2.7061em; } }

.ms-10 {
  font-size: 3.45028em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-10 {
      font-size: 3.24732em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-10 {
      font-size: 3.04436em; } }

.ms-11 {
  font-size: 3.88156em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-11 {
      font-size: 3.65324em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-11 {
      font-size: 3.42491em; } }

.ms-12 {
  font-size: 4.36676em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-12 {
      font-size: 4.10989em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-12 {
      font-size: 3.85302em; } }

.ms-13 {
  font-size: 4.9126em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-13 {
      font-size: 4.62363em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-13 {
      font-size: 4.33465em; } }

.ms-14 {
  font-size: 5.52668em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-14 {
      font-size: 5.20158em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-14 {
      font-size: 4.87648em; } }

.ms-15 {
  font-size: 6.21751em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-15 {
      font-size: 5.85178em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-15 {
      font-size: 5.48604em; } }

.ms-16 {
  font-size: 6.9947em; }
  @media screen and (min-width: 40em) and (max-width: 63.99em)  {
    .ms-16 {
      font-size: 6.58325em; } }
  @media screen and (max-width: 39.99em)  {
    .ms-16 {
      font-size: 6.1718em; } }

.ts-uppercase, .branding-link, .league-name, .title-heading, .account-name {
  font-weight: 600;
  text-transform: uppercase; }

.ts-light {
  font-weight: 400;
  text-transform: uppercase; }

.ts-alt, .richtext blockquote p, .branding-link, .account-name {
  font-family: 'din-condensed-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600; }

.richtext > h5 {
  font-weight: 400; }
.richtext blockquote {
  text-align: center; }

.is-hidden {
  display: none; }

.is-visible {
  display: block; }

body {
  background: #ffffff; }

.l-site {
  margin: 0 auto;
  max-width: 1800px;
  position: relative;
  z-index: 1;
  background: #fafafa; }

.l-page {
  position: relative;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .l-page:last-child {
    margin-right: 0; }

.l-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .l-nav:last-child {
    margin-right: 0; }

.l-topbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  height: 60px;
  display: block;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  z-index: 10; }

.l-header {
  margin: 60px 0 30px;
  display: block;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6; }

.l-container {
  display: block;
  margin: 0 auto;
  padding: 0 3em;
  max-width: 1100px; }
  .l-container::after {
    clear: both;
    content: "";
    display: table; }

.l-columns {
  width: 100%;
  display: block; }
  .l-columns::after {
    clear: both;
    content: "";
    display: table; }

.l-columns--thirds .l-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .l-columns--thirds .l-col:last-child {
    margin-right: 0; }

.l-columns--split .l-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .l-columns--split .l-col:last-child {
    margin-right: 0; }

.l-col {
  position: relative;
  vertical-align: top; }

.l-columns--sideright .l-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .l-columns--sideright .l-col:last-child {
    margin-right: 0; }
.l-columns--sideright .l-col--side {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .l-columns--sideright .l-col--side:last-child {
    margin-right: 0; }

.l-columns--sideleft .l-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 34.11922%; }
  .l-columns--sideleft .l-col:last-child {
    margin-right: 0; }
.l-columns--sideleft .l-col--side {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: -102.35765%; }
  .l-columns--sideleft .l-col--side:last-child {
    margin-right: 0; }

@media screen and (min-width: 40em) and (max-width: 63.99em)  {
  .l-page {
    padding: 2em 0; }
  .l-container {
    padding: 0 2em; } }

@media screen and (max-width: 39.99em)  {
  .l-topbar {
    left: 0; }
  .l-nav {
    z-index: 5; }
  .l-page {
    padding: 1em 0;
    margin-left: 0;
    z-index: 5; }
  .l-container {
    padding: 0 1em; }
  .l-col {
    margin-bottom: 2em; }
    .l-col:last-child {
      margin-bottom: 0; }
  .l-columns--thirds .l-col {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .l-columns--thirds .l-col:last-child {
      margin-right: 0; }
  .l-columns--split .l-col {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .l-columns--split .l-col:last-child {
      margin-right: 0; } }

.btn {
  display: inline-block;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid #56B784;
  color: #56B784;
  background: transparent;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: 0.35s;
  transition: 0.35s; }
  .btn:hover {
    border: 1px solid #56B784;
    color: #ffffff;
    background: #56B784; }

.btn--small {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1; }

.btn--full {
  display: block; }

.branding {
  display: inline-block;
  float: left; }

.branding-link {
  margin: 0;
  padding: 18px 30px;
  display: block;
  color: #333333;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'din-condensed-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center; }

.league {
  padding: 20px 0; }
  .league::after {
    clear: both;
    content: "";
    display: table; }

.league-logo {
  float: left;
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 3px;
  margin-right: 30px; }

.league-img {
  width: 100%;
  border-radius: 3px; }

.league-name {
  margin: 0;
  padding: 30px 0;
  display: inline-block; }

.nav-menu {
  padding: 20px; }

.nav-item {
  display: block;
  margin: 0 0 5px;
  padding: 3px 0; }

.nav-link {
  display: block;
  color: #333333; }

.title {
  padding: 2em 0; }

.title-heading {
  margin: 0;
  padding: 0;
  display: inline-block; }

.account {
  margin-right: 30px;
  padding: 17px 0;
  float: right; }
  .account::after {
    clear: both;
    content: "";
    display: table; }

.account-avatar {
  width: 28px;
  height: 28px;
  display: block;
  float: left;
  border-radius: 3px;
  margin-right: 10px; }

.account-img {
  width: 100%;
  border-radius: 3px; }

.account-name {
  margin: 0;
  padding: 6px 0;
  display: inline-block;
  color: #333333; }

.games {
  padding: 5px;
  border: 1px solid #e6e6e6;
  background: #ffffff; }

.game {
  margin-bottom: 5px;
  border: 1px solid #e6e6e6;
  background: #ffffff; }

.accessibility-dims {
  width: 48px;
  height: 48px; }

.account-balance-dims {
  width: 48px;
  height: 48px; }

.account-balance-wallet-dims {
  width: 48px;
  height: 48px; }

.account-box-dims {
  width: 48px;
  height: 48px; }

.account-circle-dims {
  width: 48px;
  height: 48px; }

.add-shopping-cart-dims {
  width: 48px;
  height: 48px; }

.rotation-3D-dims {
  width: 48px;
  height: 48px; }

.background {
  width: 600px;
  height: 530px;
  float: left;
  background: url(../svgs/backgrounds-css.svg) no-repeat; }

.background--black {
  background-color: #333;
  margin-bottom: 250px; }

.background--1 {
  background-position: 0 0; }

.background--2 {
  background-position: 100% 0; }

.background--3 {
  background-position: 0 100%; }


/*# sourceMappingURL=maps/main.css.map */