{% extends "base.html" %}

{% block content %}
  <section class="profile">
    <div class="profile-avatar">
      <img src="{{ object.photo.url }}" class="profile-img"/>
    </div>
    <h1 class="profile-name">{{ object }}</h1>
    <div class="profile-stats">
      <div class="stat">
        <div class="stat-number">999</div>
        <div class="stat-title">Wins</div>
      </div>
      <div class="stat">
        <div class="stat-number">999</div>
        <div class="stat-title">Losses</div>
      </div>
    </div>
  </section>

  <div class="l-columns l-columns--sideright">
    <div class="l-col">
    </div>
    <div class="l-col l-col--side">
    </div>
  </div>
{% endblock %}