{% extends "base.html" %}
{% load thumbnail %}

{% block nav-players %}is-active{% endblock %}

{% block content %}

  <div class="l-columns l-columns--sideleft">
    <div class="l-col l-col--side">
      <section class="profile profile--details">
        <div class="profile-player">
          {% include "partials/player.html" with player=object player_class="player--largest player--stacked" %}
        </div>

        <div class="profile-stats">
          <h1 class="stat-heading">Rank</h1>
          <div class="stat-group is-active">
            <div class="stat">
              <div class="stat-number">{{ object.ts_expose|floatformat:2 }}</div>
              <div class="stat-title">Expose</div>
            </div>
            <div class="u-clear"></div>
            <div class="stat stat--small">
              <div class="stat-number">{{ object.ts_mu|floatformat:2 }}</div>
              <div class="stat-title">Skill</div>
            </div>
            <div class="stat stat--small">
              <div class="stat-number">{{ object.ts_sigma|floatformat:2 }}</div>
              <div class="stat-title">Sigma</div>
            </div>
          </div>
        </div>

        <div class="profile-stats">
          <h1 class="stat-heading">Win/Loss</h1>
          <div class="stat-tabs">
            <a href="#" class="stat-tab js-tab" data-tab="#stats-player-winlos-7">7</a>
            <a href="#" class="stat-tab js-tab" data-tab="#stats-player-winlos-30">30</a>
            <a href="#" class="stat-tab js-tab is-active" data-tab="#stats-player-winlos-season">Season</a>
          </div>

          <div id="stats-player-winlos-7" class="stat-group js-tabContent">
            <div class="stat">
              <div class="stat-number">{{ object.stats.wins.7 }}</div>
              <div class="stat-title">Wins</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.losses.7 }}</div>
              <div class="stat-title">Losses</div>
            </div>
          </div>

          <div id="stats-player-winlos-30" class="stat-group js-tabContent">
            <div class="stat">
              <div class="stat-number">{{ object.stats.wins.30 }}</div>
              <div class="stat-title">Wins</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.losses.30 }}</div>
              <div class="stat-title">Losses</div>
            </div>
          </div>

          <div id="stats-player-winlos-season" class="stat-group js-tabContent is-active">
            <div class="stat">
              <div class="stat-number">{{ object.stats.wins.season }}</div>
              <div class="stat-title">Wins</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.losses.season }}</div>
              <div class="stat-title">Losses</div>
            </div>
          </div>
        </div>

        <div class="profile-stats">
          <h1 class="stat-heading">Streaks</h1>

          <div class="stat-group is-active">
            <div class="stat">
              {% if object.win_streak > 0 %}
                <div class="stat-number">{{ object.win_streak }} Game</div>
                <div class="stat-title">Wining Streak</div>
              {% else %}
                <div class="stat-number">{{ object.losing_streak }} Game</div>
                <div class="stat-title">Losing Streak</div>
              {% endif %}
            </div>
            <div class="u-clear"></div>
            <div class="stat stat--small">
              {% if object.win_streak > 0 %}
                <div class="stat-title">Not Lost Since</div>
                <div class="stat-number">{{ object.not_lost_since|date:"D d M Y" }}</div>
              {% else %}
                <div class="stat-title">Hasn't Won Since</div>
                <div class="stat-number">{{ object.not_won_since|date:"D d M Y" }}</div>
              {% endif %}
            </div>
          </div>
          <hr class="hr--dark"/>
          <div class="stat-group is-active">
            <div class="stat">
                <div class="stat-title">Best Win Streak</div>
                <div class="stat-number">{{ object.best_win_streak }} Games</div>
            </div>
            <div class="u-clear"></div>
            <div class="stat stat--small">
                <div class="stat-title">Spanning</div>
                <div class="stat-number">{{ object.win_spanning_days}} days</div>
            </div>
          </div>
          <hr class="hr--dark"/>
          <div class="stat-group is-active">
            <div class="stat">
                <div class="stat-title">Worst Losing Streak</div>
                <div class="stat-number">{{ object.worst_losing_streak }} Games</div>
            </div>
            <div class="u-clear"></div>
            <div class="stat stat--small">
                <div class="stat-title">Spanning</div>
                <div class="stat-number">{{ object.loss_spanning_days}} days</div>
            </div>
          </div>
        </div>

        <div class="profile-stats">
          <h1 class="stat-heading">Goal Diff</h1>
          <div class="stat-tabs">
            <a href="#" class="stat-tab js-tab" data-tab="#stats-player-goaldifferential-7">7</a>
            <a href="#" class="stat-tab js-tab" data-tab="#stats-player-goaldifferential-30">30</a>
            <a href="#" class="stat-tab js-tab is-active" data-tab="#stats-player-goaldifferential-season">Season</a>
          </div>

          <div id="stats-player-goaldifferential-7" class="stat-group js-tabContent">
            <div class="stat">
              <div class="stat-number">{{ object.stats.goal_differential.7.for }}</div>
              <div class="stat-title">For</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.goal_differential.7.against }}</div>
              <div class="stat-title">Against</div>
            </div>
          </div>

          <div id="stats-player-goaldifferential-30" class="stat-group js-tabContent">
            <div class="stat">
              <div class="stat-number">{{ object.stats.goal_differential.30.for }}</div>
              <div class="stat-title">For</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.goal_differential.30.against }}</div>
              <div class="stat-title">Against</div>
            </div>
          </div>

          <div id="stats-player-goaldifferential-season" class="stat-group js-tabContent is-active">
            <div class="stat">
              <div class="stat-number">{{ object.stats.goal_differential.season.for }}</div>
              <div class="stat-title">For</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.goal_differential.season.against }}</div>
              <div class="stat-title">Against</div>
            </div>
          </div>
        </div>
        <div class="profile-stats">
          <h1 class="stat-heading">Color Stats</h1>
          <div class="stat-tabs">
            <a href="#" class="stat-tab js-tab is-active" data-tab="#stats-player-colorstats-red">Red</a>
            <a href="#" class="stat-tab js-tab" data-tab="#stats-player-colorstats-black " >Black</a>
          </div>

          <div id="stats-player-colorstats-red" class="stat-group js-tabContent is-active">
            <div class="stat">
              <div class="stat-number">{{ object.stats.color_stats.red.favoured }}%</div>
              <div class="stat-title">Of Games</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.color_stats.red.winning_percentage }}%</div>
              <div class="stat-title">Games Won</div>
            </div>
          </div>

          <div id="stats-player-colorstats-black" class="stat-group js-tabContent">
            <div class="stat">
              <div class="stat-number">{{ object.stats.color_stats.black.favoured }}%</div>
              <div class="stat-title">Of Games</div>
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.stats.color_stats.black.winning_percentage }}%</div>
              <div class="stat-title">Games Won</div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="l-col">

      <div class="tabs">
        <a href="#" class="tab js-tab is-active" data-tab="#tab-games">Games</a>
        <a href="#" class="tab js-tab" data-tab="#tab-teams">Teams</a>
      </div>

      <div id="tab-games" class="tab-content js-tabContent is-active">
        <div class="games is-loading">
          {% for match in matches %}
            {% include "partials/match.html" with match=match highlight_player=object %}
          {% endfor %}
        </div>
      </div>

      <div id="tab-teams" class="tab-content js-tabContent">
        {% for team in teams %}
          <a href="{{team.get_absolute_url}}" class="standing">
            {% comment %}
            <div class="standing-count standing-count--{{ forloop.counter }}">
              <span>{{ forloop.counter }}</span>
            </div>
            {% endcomment %}
            <div class="standing-team">
              {% include "partials/team.html" with team=team team_class="team--small" %}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}