{% extends "base.html" %}
{% load thumbnail %}

{% block nav-players %}is-active{% endblock %}

{% block content %}
  <section class="profile">
    <div class="profile-avatar">
      {% if object.photo %}
        {% thumbnail object.photo "80x80" crop="center" as im %}
          <img src="{{ im.url }}" class="player-img"/>
        {% endthumbnail %}
      {% endif %}
    </div>
    <h1 class="profile-name">{{ object }}</h1>
    <div class="profile-stats">
      <div class="stat">
        <div class="stat-number">{{ ts_mu|floatformat:2 }}</div>
        <div class="stat-title">Foos-skill</div>
      </div>
      <div class="stat">
        <div class="stat-number">{{wins}}</div>
        <div class="stat-title">Wins</div>
      </div>
      <div class="stat">
        <div class="stat-number">{{loses}}</div>
        <div class="stat-title">Losses</div>
      </div>
    </div>
  </section>

  <div class="l-columns l-columns--sideright">
    <div class="l-col">
      <div class="games is-loading">
        {% for match in matches %}
          {% include "partials/match.html" with match=match highlight_player=object %}
        {% endfor %}
      </div>
    </div>
    <div class="l-col l-col--side">
      {% for team in teams %}
        {% include "partials/team.html" with team=team %}
      {% endfor %}
    </div>
  </div>
{% endblock %}