{% extends "base.html" %}
{% load thumbnail %}

{% block nav-players %}is-active{% endblock %}

{% block content %}
  <div class="l-columns l-columns--centeredSmall">
    <div class="l-col">
      <div class="standings is-loading">
        {% for player in object_list %}
          <a href="{{player.get_absolute_url}}" class="standing">
            {% comment %}
            <div class="standing-count standing-count--{{ forloop.counter }}"><span>{{ forloop.counter }}</span></div>
            {% endcomment %}
            <div class="standing-player player">
              <div class="player player--large">
                <div class="player-avatar">
                  {% if player.photo %}
                    {% thumbnail player.photo "80x80" crop="center" as im %}
                      <img src="{{ im.url }}" class="player-img"/>
                    {% endthumbnail %}
                  {% endif %}
                </div>
                <h1 class="player-name">{{ player.nickname }}</h1>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}