<div class="field field-typeSelect">
  <label class="field-label">Post type:</label>
  <div class="typeSelect">
    <a href="#" data-type="request" data-fitb="I'm looking for" class="typeSelect-type">
      <div class="typeSelect-container">
        <div class="typeSelect-icon"></div>
        <div class="typeSelect-heading">Request</div>
      </div>
    </a>
    <a href="#" data-type="offer" data-fitb="I'm offering" class="typeSelect-type">
      <div class="typeSelect-container">
        <div class="typeSelect-icon"></div>
        <div class="typeSelect-heading">Offer</div>
      </div>
    </a>
    <a href="#" data-type="kudos" data-fitb="I want to give thanks to" class="typeSelect-type">
      <div class="typeSelect-container">
        <div class="typeSelect-icon"></div>
        <div class="typeSelect-heading">Kudos</div>
      </div>
    </a>
    <a href="#" data-type="message" data-fitb="" class="typeSelect-type">
      <div class="typeSelect-container">
        <div class="typeSelect-icon"></div>
        <div class="typeSelect-heading">Message</div>
      </div>
    </a>
  </div>
  {{ field }}
</div>