{% load thumbnail %}

<a href="{{match.get_absolute_url}}" class="game {% if match.team_1_score > match.team_2_score %}game--1{% elif match.team_2_score > match.team_1_score %}game--2{% endif %}">
  <div class="game-teams">
    <div class="game-team game-team--home">
      <div class="game-score {% if match.team_1_score > match.team_2_score %}game-score--winner{% endif %}">{{ match.team_1_score }}</div>
      <div class="team">
        <h1 class="team-name {% if match.team_1_score > match.team_2_score %}team-name--winner{% endif %}">{{ match.team_1 }}</h1>
        {% for player in match.team_1.players.all %}
          {% if highlight_player and highlight_player == player %}
            {% include "partials/player.html" with player=player player_class="team-player player--highlight" %}
          {% else %}
            {% include "partials/player.html" with player=player player_class="team-player" %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="game-team game-team--away">
      <div class="game-score {% if match.team_2_score > match.team_1_score %}game-score--winner{% endif %}">{{ match.team_2_score }}</div>
      <div class="team">
        <h1 class="team-name {% if match.team_2_score > match.team_1_score %}team-name--winner{% endif %}">{{ match.team_2 }}</h1>
        {% for player in match.team_2.players.all %}
          {% if highlight_player and highlight_player == player %}
            {% include "partials/player.html" with player=player player_class="team-player player--highlight" %}
          {% else %}
            {% include "partials/player.html" with player=player player_class="team-player" %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <p class="game-date">{{ match.created }}</p>
</a>