<div class="pagination">
  <span class="pagination-links">
    {% if page_obj.has_previous %}
      <a href="{{ url }}?page={{ page_obj.previous_page_number }}" class="btn btn--small btn--default pagination-btn">Previous</a>
    {% endif %}
    <span class="pagination-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
      <a href="{{ url }}?page={{ page_obj.next_page_number }}" class="btn btn--small btn--default pagination-btn">Next</a>
    {% endif %}
  </span>
</div>