{% extends "base.html" %}
{% load thumbnail %}

{% block nav-dashboard %}is-active{% endblock %}

{% block content %}

      <div class="gamedetails">
        <div class="gamedetails-section">
          <div class="gamedetails-team gamedetails-team--red">
            <div class="profile-team">
              <div class="team team--profile">
                <h1 class="team-name">{{ object.team_1.name }}</h1>
                {% for player in object.team_1.players.all %}
                  {% include "partials/player.html" with player=player player_class="team-player player--large" %}
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="gamedetails-scorecol">
            <div class="gamedetails-score">
              {{ object.team_1_score }}
            </div>

            <div class="stat">
              <div class="stat-number">{{ object.team_1_wp|floatformat:0 }}%</div>
              <div class="stat-title">Chance @ Winning</div>
            </div>
            <!-- <div class="gamedetails-triggers">
              <a href="#" class="gamedetails-btn gamedetails-btn--red">-</a>
              <a href="#" class="gamedetails-btn gamedetails-btn--green">+</a>
            </div> -->
          </div>

          <div class="gamedetails-scorecol">
            <div class="gamedetails-score">
              {{ object.team_2_score }}
            </div>
            <div class="stat">
              <div class="stat-number">{{ object.team_2_wp|floatformat:0 }}%</div>
              <div class="stat-title">Chance @ Winning</div>
            </div>
            <!-- <div class="gamedetails-triggers">
              <a href="#" class="gamedetails-btn gamedetails-btn--red">-</a>
              <a href="#" class="gamedetails-btn gamedetails-btn--green">+</a>
            </div> -->
          </div>

          <div class="gamedetails-team gamedetails-team--black">
            <div class="profile-team">
              <div class="team team--profile">
                <h1 class="team-name">{{ object.team_2.name }}</h1>
                {% for player in object.team_2.players.all %}
                  {% include "partials/player.html" with player=player player_class="team-player player--large" %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="gamedetails-section">
          <div class="gamedetails-details">

          </div>
        </div>
      </div>

{% endblock %}