{% extends "base.html" %}

{% block nav-dashboard %}is-active{% endblock %}

{% block content %}
  <div class="l-columns l-columns--centered">
    <div class="l-col">

        <div class="game {% if object.team_1_score > object.team_2_score %}game--1{% elif object.team_2_score > object.team_1_score %}game--2{% endif %}">
          <div class="game-team game-team--home">
            <div class="game-score {% if object.team_1_score > object.team_2_score %}game-score--winner{% endif %}">{{ object.team_1_score }}</div>
            <div class="team">
              <h1 class="team-name {% if object.team_1_score > object.team_2_score %}team-name--winner{% endif %}">{{ object.team_1 }}</h1>
              {% for player in object.team_1.players.all %}
                <div class="team-player player">
		          <div class="player-avatar">
		            {% if player.photo %}
		              {% thumbnail player.photo "80x80" crop="center" as im %}
		                <img src="{{ im.url }}" class="player-img"/>
		              {% endthumbnail %}
		            {% endif %}
		          </div>
                  <div class="player-name">{{ player.nickname }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="game-team game-team--away">
            <div class="game-score {% if object.team_2_score > object.team_1_score %}game-score--winner{% endif %}">{{ object.team_2_score }}</div>
            <div class="team">
              <h1 class="team-name {% if object.team_2_score > object.team_1_score %}team-name--winner{% endif %}">{{ object.team_2 }}</h1>
              {% for player in object.team_2.players.all %}
                <div class="team-player player">
                  <div class="player-avatar"><img src="" class="player-img"/></div>
                  <div class="player-name">{{ player.nickname }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

    </div>
  </div>
{% endblock %}