{% extends "auth.html" %}

{% block content %}
  <div class="auth">
    <div class="auth-login">
      <form action="" method="post" class="section section-auth form--large">
        <div class="section-titlebar">
          <h1 class="section-heading">Login</h1>
        </div>
        <div class="section-content">
          {% csrf_token %}
          {% include "partials/forms/error_field.html" %}
          {% include "partials/forms/text_field.html" with field=form.username%}
          {% include "partials/forms/password_field.html" with field=form.password%}
        </div>
        <div class="section-actions">
          <input type="submit" class="btn btn-secondary btn--large" value="Login"/>
        </div>
      </form>
      {% comment %}
      <a href="{% url "register" %}" class="btn btn-ghost btn-primary btn--xlarge btn--full">Need an account?</a>
      {% endcomment %}
    </div>
  </div>
{% endblock %}